.App {
  display: flex;
  flex-direction: column;
    align-items: center;
}

.content > img {
  display: none;
  width: 100%;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.content > video {
  display: none;
  width: 80%;
  max-width: 640px;
  max-height: 640px;
  border-radius: 10px;
}

.content {
  position: relative;
}

.content > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

.text-box {
  border: 2px solid #006400; /* Cambiado a verde oscuro */
  padding: 10px; /* Espacio interno */
  margin: 10px 0; /* Margen */
  width: 700px; /* Ancho del recuadro */
  height: 400px;
  text-align: center; /* Centrar texto */
  max-height: 300px; /* Altura máxima para el contenedor */
  overflow-y: auto; /* Habilitar scroll vertical */
  box-sizing: border-box; /* Asegurarse de que el padding y border no afecten el ancho total */
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #4caf50; 
  border-radius: 5px;
  background-color: #ffffff; 
}

.checkbox-container input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: not-allowed; /* Cursor de no permitido */
}

.checkbox-container label {
  font-size: 18px;
  color:black; 
}
