.App {
  height: 100%;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > * {
  margin: 3px 0;
}

.header {
  text-align: center;
}

.header p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: rgb(255, 47, 217);
  background-color: black;
  border-radius: 5px;
}

.content > img {
  display: none;
  width: 100%;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.content > video {
  display: none;
  width: 80%;
  max-width: 640px;
  max-height: 640px;
  border-radius: 10px;
}

.content {
  position: relative;
}

.content > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid black;
}
.text-box {
  border: 2px solid #006400; /* Cambiado a verde oscuro */
  padding: 10px; /* Espacio interno */
  margin: 10px 0; /* Margen */
  width: 700px; /* Ancho del recuadro */
  height: 400px;
  text-align: center; /* Centrar texto */
  max-height: 300px; /* Altura máxima para el contenedor */
  overflow-y: auto; /* Habilitar scroll vertical */
  box-sizing: border-box; /* Asegurarse de que el padding y border no afecten el ancho total */
}
